<!--=== Header v1 ===-->    
<div class="header-v1">
    <!-- Topbar -->
    <div class="topbar-v1" style="background: #34536E;">

        <!-- Note: replace 'class=fgi-app-margin' with 'class=container' to get bootstrap to add padding to the nav bar -->
        <div class="container" style="overflow-x: hidden;">
            <div class="row">
                <div class="col-md-6 hidden-xs hidden-sm">
                    <ul class="list-inline top-v1-contacts arches-topbar-text">

                        <li>
                            <a class="arches-topbar-text" href="/index.htm"><img id="logo-header" class="" style="height: 20px;" src="/media/img/HPLA_Logo_horiz.png" alt="Logo"></a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-inline top-v1-data">
                        <li class="" style="margin-top: -3px; border-left: solid 1px #0f2940; border-right: solid 1px #0f2940;">
                            <a class="arches-topbar-text" href="/index.htm"><i class="fa fa-home" style="color: #0f2940;"></i></a>
                        </li>

                        <li class="hidden-xs" style="margin-top: -3px; border-right: solid 1px #0f2940;">
                            <a class="arches-topbar-text" style="color: #010C15;" href="#"><i class="fa fa-link" style="color: #0f2940;"></i> Quicklinks</a>
                        </li>

                        <li class="" style="margin-top: -3px; border-right: solid 1px #0f2940;">
                            <a class="arches-topbar-text" style="color: #010C15;" href="#"><i class="fa fa-globe" style="color: #0f2940;"></i> English</a>
                        </li>

                        <li class="" style="margin-top: -3px; border-right: solid 1px #0f2940;">
                            <a class="arches-topbar-text" style="color: #010C15;" href="#"><i class="fa fa-user" style="color: #0f2940;"></i> alodge@fargeo.com</a>
                        </li>

                    </ul>
                </div>
            </div>        
        </div>
    </div>
    <!-- End Topbar -->

</div>
<!--=== End Header v1 ===-->