<!--=== Header v1 ===-->    
<div class="header-v1">
    <!-- Topbar -->
    <div class="topbar-v1" style="background: #123;">

        <!-- Note: replace 'class=fgi-app-margin' with 'class=container' to get bootstrap to add padding to the nav bar -->
        <div class="container" style="overflow-x: hidden;">
            <div class="row">
                <div class="col-md-6 hidden-xs hidden-sm">
                    <ul class="list-inline top-v1-contacts arches-topbar-text">

                        <li>
                            <a class="arches-topbar-text" href="#"><img id="logo-header" class="" style="height: 20px;" src="assets/img/logos/he_logo_light.png" alt="Logo"></a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-inline top-v1-data">
                        <li class="" style="border-left: solid 1px #777; border-right: solid 1px #777;">
                            <a class="arches-topbar-text" href="#"><i class="fa fa-home"></i></a>
                        </li>

                        <li class="hidden-xs" style="border-right: solid 1px #777;">
                            <a class="arches-topbar-text" href="#"><i class="fa fa-link"></i> Quicklinks</a>
                        </li>

                        <li class="" style="border-right: solid 1px #777;">
                            <a class="arches-topbar-text" href="#"><i class="fa fa-globe"></i> English</a>
                        </li>

                        <li class="" style="border-right: solid 1px #777;">
                            <a class="arches-topbar-text" href="#"><i class="fa fa-user"></i> alodge@fargeo.com</a>
                        </li>

                    </ul>
                </div>
            </div>        
        </div>
    </div>
    <!-- End Topbar -->

</div>
<!--=== End Header v1 ===-->