{% extends "base.htm" %}
{% load i18n %}
{% load staticfiles %}
            
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'plugins/cube-portfolio/cubeportfolio.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'plugins/cube-portfolio/custom-cubeportfolio.css' %}">      
{% endblock css%}

{% block header %}
    {% include 'header-small.htm' %}
{% endblock header %} 

{% block content %}

<!-- Search Bar -->
<div class="search-block" style="padding-bottom: 0px;">
    <div id="search-block-container" class="container" style="margin-bottom: 10px;">

        <div class="row">

            <!-- Search Widget -->
            <div class="col-xs-2 col-sm-1">
                <h1 style="margin-top: -3px;">
                    Search 
                </h1> 
            </div>

            <div class="col-xs-10 col-md-7 col-lg-8">
                
                <div class="form-group" style="">  

                    <input class="select2 resource_search_widget arches-select2" name="" style="width:100%" placeholder="{% trans "Search for a resource..." %}" value="">

                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <!-- Display Select Buttons -->
                <span class="btn-group pull-right" role="group" style="padding-left: 10px;">
                    
                    <button id="show-list" type="button" class="btn btn-u-light-green show-list arches-button-text" style="" data-toggle="">
                        <i class="fa fa-align-justify"></i> <span class="hidden-xs"> List</span>
                                                
                    </button>

                    <button id="show-map" type="button" class="btn btn-default show-map arches-button-text" style="" data-toggle="">
                        <i class="fa fa-globe"></i> <span class="hidden-xs"> Map</span>
                                                   
                    </button>

                </span>
                <!-- End Display Select Buttons -->

            </div>
            <!-- End Search Widget -->

        </div>

    </div>
</div>

<!-- Saved Searches -->
{% include 'views/saved-searches_v2.htm' %}

<!-- Main Content (search bars, map, map footer) -->
<div id="search-results-and-filters-container" style="display:none;">
    <!-- Time Filter Scale-->
    <div class="row margin-hack" id="time-filter-container" data-filtertext="{% trans "Time Filter Enabled" %}" style="width: 100%;"> 
        {% include 'views/search/time-filter-v2.htm' %}
    </div>

    <div class="row margin-hack">

        <!-- Search Results Sliding Panel -->
        <div id="sliding-panel" class="col-xs-12 margin-hack sliding-panel" style="">
            <div id="sliding-panel-container" class="" style="margin-bottom: 1px;">
                <div class="">

                    <div class="search-header" style="">
                        <h1 class="results-counter" id="search-results-count" data-count="">        
                            <div data-bind="if: total() >= 0">
                                <span class="" data-bind="text: total() + ' {% trans "Results" %}'"></span>                               
                            </div>
                        </h1>

                        <div id="sliding-panel-tools" class="sliding-panel-tools pull-right" style="">
                            <a class="arches-small-text clear-search" style="padding-right: 5px; text-decoration: none;" href="#"> Clear</a>

                            <div class="btn-group hidden-xs" style="margin-top: -5px; padding-right: 5px;">
                                <button type="button" class="btn btn-primary btn-xs" style="" data-toggle="">
                                    <i class="fa fa-download"></i> <span class="hidden-xs"> Save</span>
                                    <span class="sr-only">{% trans "Toggle Dropdown" %}</span>                            
                                </button>
                            </div>
                        </div>

                    </div>

                    <!-- Sliding Panel Control -->
                    <!-- <div id="sliding-panel-control" class="sliding-panel-control" style="margin-top: 0px; width: 25px; display:none;">
                        <i id="sliding-panel-control-icon" class="fa fa-step-backward" style="margin-left: 5px; margin-top: 13px; font-size: 17px; font-weight: 500; color: #777;"></i>
                    </div> -->


                </div>
            </div>
            <!-- End Search Results Sliding Panel -->

            <!-- Search Results Container -->
            <div class="search-results-container" id="search-results-container"> 
                {% include 'views/search/search-results_v2.htm' %}
            </div>
            <!-- End search results container -->
        </div>


        <!-- Map Container -->
        <div class="right-panel margin-hack" id="right-panel">
           
            <!-- Map Filters -->
            <div class="row" id="map-filter-container" data-filtertext="{% trans "Map Filter Enabled" %}" style="margin-right: 20px;"> 
                {% include 'views/search/map-filter.htm' %}
            
                <!-- Map Footer -->
                <div class="fgi-map-footer arches-map-footer hidden">
                    <div class="container map-border">

                        <!-- Tool Buttons -->
                        <div class="margin-left: -11px;">
                            <!-- Map tools button -->
                            <div class="" style="width: 32px; height: 32px; margin-top: 3px;">
                                <button class="btn-u btn-u-green arches-button" style="width: 32px; height: 32px;" type="button" title="Map Tools"><i class="fa fa-2x fa-info-circle" style="  font-size: 21px; margin-top: -1px; margin-left: -7px;"></i></button>
                            </div>

                            <!-- Time Control button -->
                            <div class="" style="width: 32px; height: 32px; margin-top: 3px;">
                                <button class="btn-u btn-u-default" style="width: 32px; height: 32px;" type="button" title="Time Controls"><i class="fa fa-2x fa-clock-o" style="  font-size: 21px; margin-top: -1px; margin-left: -6px;"></i></button>
                            </div>
                        </div>

                        <div class="row" style="margin-left: 25px;">

                            <div class="col-xs-12">

                                <div class="" style="margin-top: 25px; margin-left: -5px; margin-top: -67px;">
                                    <!-- Basemap -->
                                    <div class="" style="">

                                        <button id="show-basemaps" class="btn-u btn-u-green arches-button" style="width: 67px; height: 67px;" type="button" title="Select Basemap"><i class="fa fa-globe fa-2x" style="margin-top: 0px; margin-left: -5px;"></i></button>

                                    </div>
                                    <!-- End Basemap -->

                                    <!-- Overlay -->
                                    <div class="" style="margin-left: 70px; margin-top: -67px;">

                                        <button id="show-overlays" class="btn-u btn-u-green arches-button" style="width: 67px; height: 67px;" type="button" title="Add Overlays"><i class="fa fa-align-justify fa-2x" style="margin-top: 0px; margin-left: 0px;"></i></button>

                                    </div>
                                    <!-- End Overlay -->

                                    <!-- Zoom Readout -->
                                    <div class="info-blocks" style="margin-left: 150px; margin-top: -55px;">
                                        <div class="info-blocks-in margin-bottom-0">
                                            <p class="margin-top-5">
                                                <span class="arches-map-inventory-footer-text">
                                                    Map Zoom: <span data-bind="text:zoom">10</span> &nbsp; &nbsp;
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Coordinate Readout -->
                                    <div class="info-blocks" style="margin-left: 150px; margin-top: -38px;">
                                        <div class="info-blocks-in margin-bottom-0">
                                            <p class="margin-top-5">
                                                <span class="arches-map-inventory-footer-text">
                                                    Cursor: <span data-bind="text:mousePosition"></span> <span class="hidden-xs">(long,lat)</span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Map Footer -->
            </div>
            <!-- End Map -->
            
            <!-- Graph Container -->
            <div class="svg related-resource-graph margin-hack" id="related-resource-graph" style="display:none;">

                {% include 'views/related-resources-graph.htm' %}

            </div>
            <!-- End Graph Container -->
        </div>
        <!-- End Map Container -->


    </div>

    <div class="row margin-hack" style="height: 0px;">
        <!-- <div class="col-xs-4"></div> -->
        <div id="sliding-panel-control" class="col-xs-8 col-xs-offset-4 sliding-panel-control" style="margin-top: 0px; display:none;">
            <i id="sliding-panel-control-icon" class="fa fa-step-backward" style="font-size: 17px; font-weight: 500; color: #777;"></i>
        </div>
    </div>




    <!-- Graph Info Panel -->
    <div class="container hidden">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8">

                <!-- Using Bootstrap Model CSS classes to get the overall look of the info panel,
                but the actual info panel is NOT implemented as a model form -->
                <div id="graph-detail-panel" class="modal-content no-corners arches-map-inventory-panel hidden" style="background: #fff;">
                    <div class="modal-header" style="background: #f4f4f4;">
                        <a class="" style="text-decoration: none;" href="#">
                            <i id="show-graph-panel" class="icon-size-actual pull-right" style="margin-top: 5px; font-weight: 600; color: #337ab7;"></i>
                        </a>

                        <h4 class="modal-title">
                            <a href="javascript:void(0);" class="text-primary" target="_blank" data-bind="attr:{ href: selectedResource() ? selectedResource().reportLink : 'javascript:void(0);'}">
                                <i class="fa fa-trophy text-primary" data-bind="attr: { class: selectedResource() ? selectedResource().typeIcon + ' text-primary': '' }"></i> 
                                <span data-bind="text:selectedResource() ? selectedResource().primaryname : ''"></span>

                                <!-- Resource Type for larger screens -->
                                <span class="hidden-xs">
                                    <small class="text-primary" data-bind="text: selectedResource() ? selectedResource().typeName: ''"></small>
                                </span>

                                <!-- Resource Type for small screens -->
                                <span class="hidden-sm hidden-md hidden-lg">
                                    </br><small class="text-primary margin-left-30 margin-top-minus-10"  data-bind="text: selectedResource() ? selectedResource().typeName: ''"></small>
                                </span>

                            </a>
                        </h4>

                    </div>

                    <!-- Body Content -->
                    <div id="graph-detail-panel-body" class="modal-body" style="height: 400px;">
                        
                        <!-- Search Widget  -->
                        <div class="" style="padding-bottom: 15px; padding-left: 20px; padding-right: 20px; margin-left: -15px; margin-right: -15px; background: #fff; border-bottom-color: #f0f0f0; border-bottom-width: 1px; border-bottom-style: solid;">

                            <input id="" class="select2 arches-select2 graph-search-widget" name="" style="width:100%; " placeholder="Find a resource..." value=""></input>

                        </div>

                        <div class="row" style="padding-top: 0px; height: 285px; background: #fff;">
                            
                            <!-- Search Results Container -->
                            <div class="" style="width: 100%;">
                                
                                <!-- Begin Search Item -->
                                <div  class="arches-search-item">
                                    
                                    <!-- Spacer -->
                                    <hr class="search-list-spacer">

                                    <div class="inner-results arches-graph-list-item" style="">

                                        <!-- Item Header -->
                                        <h4>
                                            <a class="arches-graph-search-title" style="" href="#">Castle Anthrax</a> 
                                            &nbsp;
                                            <span class="">
                                                <small class="arches-graph-search-subtitle"><i class="fa fa-trophy"></i>Heritage Resource</small>
                                            </span>
                                        </h4>

                                        <!-- Sub-header -->
                                        <ul class="list-inline up-ul arches-tool-subheader">

                                            <li>
                                                <i class="arches-search-link fa fa fa-sitemap"></i>
                                                <span class="arches-search-link map-toggle"> 15 of 42 resources loaded</span>
                                            </li>

                                            <li>
                                                <i class="arches-search-link fa fa-cloud-download"></i>
                                                <a href="#" class="info-link related-resources-graph" id="rr-3"><span class="arches-search-link"> Load more</span></a>
                                            </li>

                                        </ul>
                                        <!-- End Item Sub-Header -->

                                    </div>
                                </div>
                                <!-- End Search Item -->


                                <!-- Begin Search Item -->
                                <div  class="arches-search-item">
                                    
                                    <!-- Spacer -->
                                    <hr class="search-list-spacer">

                                    <div class="inner-results arches-graph-list-item" style="">

                                        <!-- Item Header -->
                                        <h4>
                                            <a class="arches-graph-search-title" style="" href="#">King Arthur</a> 
                                            &nbsp;
                                            <span class="">
                                                <small class="arches-graph-search-subtitle"><i class="fa fa-group"></i>Person/Organization</small>
                                            </span>
                                        </h4>

                                        <!-- Sub-header -->
                                        <ul class="list-inline up-ul arches-tool-subheader">

                                            <li>
                                                <i class="arches-search-link fa fa fa-sitemap"></i>
                                                <span class="arches-search-link map-toggle"> 8 of 8 resources loaded</span>
                                            </li>

                                            <li>
                                                <i class="arches-search-link fa fa-cloud-download"></i>
                                                <a href="#" class="info-link related-resources-graph" id="rr-3"><span class="arches-search-link"> Load more</span></a>
                                            </li>

                                        </ul>
                                        <!-- End Item Sub-Header -->

                                    </div>
                                </div>
                                <!-- End Search Item -->


                                <!-- Begin Search Item -->
                                <div  class="arches-search-item">
                                    
                                    <!-- Spacer -->
                                    <hr class="search-list-spacer">

                                    <div class="inner-results arches-graph-list-item" style="">

                                        <!-- Item Header -->
                                        <h4>
                                            <a class="arches-graph-search-title" style="" href="#">Magna Carta</a> 
                                            &nbsp;
                                            <span class="">
                                                <small class="arches-graph-search-subtitle"><i class="fa fa-file-o"></i>Information Object</small>
                                            </span>
                                        </h4>

                                        <!-- Sub-header -->
                                        <ul class="list-inline up-ul arches-tool-subheader">

                                            <li>
                                                <i class="arches-search-link fa fa fa-sitemap"></i>
                                                <span class="arches-search-link map-toggle"> 15 of 21 resources loaded</span>
                                            </li>

                                            <li>
                                                <i class="arches-search-link fa fa-cloud-download"></i>
                                                <a href="#" class="info-link related-resources-graph" id="rr-3"><span class="arches-search-link"> Load more</span></a>
                                            </li>

                                        </ul>
                                        <!-- End Item Sub-Header -->

                                    </div>
                                </div>
                                <!-- End Search Item -->

                            </div>
                        </div>
                    </div>
                    <!-- End Body Content -->

                    <div id="graph-detail-panel-footer" class="modal-footer" style="background: #f4f4f4; height: 50px; padding-top: 8px; padding-bottom: 0px;">
                        <button type="button" class="btn-u btn-u-sm btn-u-default close-graph-panel" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
</div>
<!-- End Main Content (search bars, map, map footer) -->

{% endblock content %}