{% load i18n %}
<!-- Graph Info Panel -->
<div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 node_info">
    <div class="row">
        <div>

            <!-- Using Bootstrap Model CSS classes to get the overall look of the info panel,
            but the actual info panel is NOT implemented as a model form -->
            <div id="graph-detail-panel" class="modal-content no-corners" style="background: #fff;">
                <div class="modal-header" style="background: #f4f4f4;">
                    <a class="" style="text-decoration: none;" href="#">
                        <i id="show-graph-panel" class="icon-size-actual pull-right" style="margin-top: 5px; font-weight: 600; color: #337ab7;"></i>
                    </a>
                    <!-- ko foreach: $data -->
                    <h4 class="modal-title" data-bind="if: isRoot">
                        <a href="javascript:void(0);" class="text-primary">
                            <i class="fa text-primary" data-bind="css: typeIcon"></i> 
                            <span data-bind="text:name"></span>

                            <!-- Resource Type for larger screens -->
                            <span class="hidden-xs">
                                <small class="text-primary" data-bind="text:typeName"></small>
                            </span>

                            <!-- Resource Type for small screens -->
                            <span class="hidden-sm hidden-md hidden-lg">
                                </br><small class="text-primary margin-left-30 margin-top-minus-10"  data-bind="text:typeName"></small>
                            </span>

                        </a>
                    </h4>
                    <!-- /ko -->

                </div>

                <!-- Body Content -->
                <div id="graph-detail-panel-body" class="modal-body" style="height: 400px;">
                    
                    <!-- Search Widget  -->
                    <div class="" style="padding-bottom: 15px; padding-left: 20px; padding-right: 20px; margin-left: -15px; margin-right: -15px; background: #fff; border-bottom-color: #f0f0f0; border-bottom-width: 1px; border-bottom-style: solid;">

                        <input id="graph-filter" class="select2 arches-select2 graph-search-widget" name="" style="width:100%; " placeholder="Find a resource..." value=""></input>

                    </div>

                    <div style="padding-top: 0px; height: 330px; background: #fff; overflow-y:scroll;">
                        
                        <!-- Search Results Container -->
                        <!-- ko foreach: $data -->
                        <div class="" style="width: 100%;" data-bind="if: !isRoot()">
                            <!-- Spacer -->
                            <hr class="margin-10">

                            <div class="inner-results padding-left-5" data-bind="attr:{'data-entityid': entityid}">

                                <!-- Item Header -->
                                <h4>
                                    <a class="arches-graph-search-title" style="" data-bind="text: name, attr: { href: 'reports/' + entityid }" target="_blank"></a> 
                                    &nbsp;
                                    <span class="">
                                        <small class="arches-graph-search-subtitle"><i data-bind="css:typeIcon"></i><span data-bind="text: typeName"></span></small>
                                    </span>
                                </h4>

                                <!-- Sub-header -->
                                <ul class="list-inline up-ul">

                                    <li data-bind="with: relationCount">
                                        <div data-bind="if: total">
                                            <i class="arches-search-link fa fa fa-sitemap"></i>
                                            <span class="arches-search-link map-toggle" data-bind="if: total"><span data-bind="text:loaded"></span> {% trans 'of' %} <span data-bind="text:total"></span> {% trans 'relations loaded' %}</span>
                                        </div>
                                        <div data-bind="if: !total()">
                                            <i class="arches-search-link fa fa fa-sitemap"></i>
                                            <span class="arches-search-link map-toggle">{% trans '0 relations loaded' %}</span>
                                        </div>
                                    </li>

                                    <li data-bind="if: relationCount.total() !== relationCount.loaded()">
                                        <i class="arches-search-link fa fa-cloud-download"></i>
                                        <a href="javascript:void(0);" class="load-more-relations-link" data-bind="attr:{'data-name': name, 'data-entityid': entityid, 'data-entitytypeid': entitytypeid, }"><span class="arches-search-link">{% trans 'Load more' %}</span></a>
                                    </li>

                                </ul>
                                <!-- End Item Sub-Header -->

                            </div>
                            
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- End Body Content -->

                <div id="graph-detail-panel-footer" class="modal-footer" style="background: #f4f4f4; height: 50px; padding-top: 8px; padding-bottom: 0px;">
                    <button type="button" class="btn-u btn-u-sm btn-u-default close-graph-panel" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>