<!--=== Saved Searches ===-->
<div id="saved-search" class="saved-search-panel saved-search-panel-full" style="">

    <!--=== Cube-Portfdlio ===-->
    <div class="cube-portfolio" style="background: #fafafa;">
        
        <!-- Saved Search Grid  -->
        <div id="grid-container" class="cbp-l-grid-agency" style="z-index: 0;">
            <div class="cbp-item ss3" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{STATIC_URL}}img/photo_missing.png" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Protected Landscapes
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Protected Landscapes</div>
                                <div class="cbp-l-grid-agency-desc">Areas and Districts with legal protection</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss2 ss4" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q2.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Canal District Buildings
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Canal District</div>
                                <div class="cbp-l-grid-agency-desc">Designated buildings and structures in Venice</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss3 ss4" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q3.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Another clever caption
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Query 3 Title</div>
                                <div class="cbp-l-grid-agency-desc">Query explanation/summary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss2 ss3" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q4.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Here's my Caption
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Query 4 Title</div>
                                <div class="cbp-l-grid-agency-desc">Query explanation/summary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss1 ss2" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q5.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Here's my Caption
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Query 5 Title</div>
                                <div class="cbp-l-grid-agency-desc">Query explanation/summary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss1 ss2" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q6.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Here's my Caption
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Query 6 Title</div>
                                <div class="cbp-l-grid-agency-desc">Query explanation/summary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss2 ss1" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q7.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Here's my Caption
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Query 7 Title</div>
                                <div class="cbp-l-grid-agency-desc">Query explanation/summary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss1 logo" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q8.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Here's my Caption
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Query 8 Title</div>
                                <div class="cbp-l-grid-agency-desc">Query explanation/summary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item ss3" style="padding: 2px;">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="assets/img/arches_saved_query/q9.jpg" alt="" onerror="this.src='{{STATIC_URL}}img/photo_missing.png';">
                        <div class="arches-saved-query-caption" style="">
                            Here's my Caption
                        </div>
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="search.html"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">Query 9 Title</div>
                                <div class="cbp-l-grid-agency-desc">Query explanation/summary</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/end Grid Container-->
    </div>    
    <!--=== End Cube-Portfdlio ===-->


    <!-- Controls -->
    <div id="filters-container" class="saved-query-control-container" style="">
        <div class="cbp-l-filters-text content-xs" style="height: 50px; text-align: left; margin-left: 10px;">
            <div class="" style="display: inline-block;"> 
                <h1 style="font-size: 21px; color: #fff;">
                    Featured Searches
                </h1>
            </div>
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
            <div data-filter=".ss1" class="cbp-filter-item"> Monuments </div> |
            <div data-filter=".ss2" class="cbp-filter-item"> Landscapes </div> |
            <div data-filter=".ss3" class="cbp-filter-item"> Archaeology </div> |
            <div data-filter=".ss4" class="cbp-filter-item"> Designated </div>
        </div>
    </div>
    <!-- End Controls -->

</div>
<!--=== Saved Searches ===-->