{% load i18n %}

<!-- Map -->
<div id="map-filter" class="" style="display: none;">

    <div class="row" style="margin-left: -19px;">
        <div class="col-xs-2 col-xs-offset-10" style="z-index: 900;">

            <div class="row" style="margin-right: 0px; margin-top: 0px;">
                <!-- Filter Tools -->
                <div class="col-sm-5 col-md-4 pull-right hidden-xs" style="padding-right: 0px;">
                    <div id="map-tools-btn" class="btn-group pull-right margin-10 margin-right-10" style="margin-top: 15px;">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            {% trans "Map Tools" %}
                            <i class="fa fa-chevron-down"></i>
                            <span class="sr-only">{% trans "Toggle Dropdown" %}</span>                            
                        </button>
                        <ul id="map-tools-dropdown" class="dropdown-menu" role="menu">
                            <li><a name="map-tools" id="map-extent-filter" data-tooltype="map-extent" href="#" class="info-link"><i class="fa fa-xxx" data-bind="css: {'fa-check' : geometry.type() == 'bbox'}"></i>{% trans "Limit search results to map extent" %}</a></li>
                            <li class="divider"></li>
                            <li><a name="map-tools" id="polygon-filter" data-tooltype="Polygon" href="#" class="info-link polygon-filter"><i class="fa fa-xxx" data-bind="css: {'fa-check' : geometry.type() == 'Polygon'}"></i>{% trans "Draw Polygon to Filter Map" %}</a></li>
                            <li><a name="map-tools" id="line-filter" data-tooltype="LineString" href="#"><i class="fa fa-xxx" data-bind="css: {'fa-check' : geometry.type() == 'LineString'}"></i>{% trans "Draw Line to Filter Map" %}</a></li>
                            <li><a name="map-tools" id="point-filter" data-tooltype="Point" href="#"><i class="fa fa-xxx" data-bind="css: {'fa-check' : geometry.type() == 'Point'}"></i>{% trans "Draw Point to Filter Map" %}</a></li>
                            <li class="divider"></li> 
                            <li>
                                <a id="spatial-buffer" href="#" style="padding-left: 13px;"><i class="fa fa-xxx"></i>{% trans "Buffer (ft)" %}<input id="map-buffer" type="text" class="" style="width: 30%; margin-left: 5px;" data-bind="textInput: buffer.width" /></a>
                            </li>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
            
        <!-- Map -->
        <div class="col-xs-12" style="margin-top: -55px;">
            
            <div id="map" class="map arches-map-filter arches-search-map">
                <div class="tooltip left" role="tooltip" style="display:none;" id="feature_tooltip">
                      <div class="tooltip-arrow"></div>
                      <div id="tooltip-text" class="tooltip-inner">
                  </div>
                </div>
            </div>
            <div id="olmap" class="fill"></div>

            <!-- Map: Project Info Panel -->
            <div class="container">
                
                <!-- Map Tools Panel -->
                <div class="row">
                    <div class="col-xs-12 col-sm-6" style="">

                        <div id="basemaps-panel" class="tools-panel hidden" style="overflow-y: scroll; border-top-left-radius: 5px; border-top-right-radius: 5px; margin-top: -415px; height: 337px; width: 290px; margin-left: 35px;">
                            <div class="modal-header arches-modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title">
                                    {% trans "Basemaps" %}
                                </h4>
                            </div>

                            <!-- Body Content -->
                            <div class="modal-body padding-top-0 padding-bottom-10" data-bind='foreach: baseLayers'>

                                <div class="row">
                                    <hr class="arches-layer-divider" style="border-top: 0px; margin-top: 5px;">

                                    <div class="arches-basemap-entry" style="margin-right: 7px;">
                                
                                        <div class="" style="">
                                            <a data-bind="attr: { id: id, title: name }" class="basemap info-click" data-rel="" href="javascript:void(0);">
                                                <span class="">  
                                                    <img data-bind="attr: { src: icon }" class="arches-basemap-thumbnail" alt="" />
                                                    <span class="zoom-icon"></span>                   
                                                </span>                                              
                                            </a>                    
                                            <span class="arches-basemap-caption-search">
                                                <a data-bind="attr: { id: id }, text: name" class="caption-text-search hover-effect basemap info-click" href="javascript:void(0);"> </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- End Body Content -->

                        </div>
                    </div>
                </div>
                <!-- End Map Tools Panel -->
                
                <!-- Info Panel -->
                <div id="resource-info" class="row" style="display:none;">

                    <!-- Setup display, hide for xs screens -->
                    <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-7 col-md-5 col-md-offset-7 pull-right">

                        <!-- Using Bootstrap Model CSS classes to get the overall look of the info panel,
                        but the actual info panel is NOT implemented as a model form -->
                        <div class="modal-content no-corners arches-map-inventory-panel" style="margin-top: -612px;margin-right: 20px; z-index: 9999;">
                            <div class="modal-header">
                                <button type="button" class="close resource-info-closer" aria-hidden="true">
                                    ×
                                </button>

                                <h4 class="modal-title">
                                    <a href="javascript:void(0);" class="text-primary" target="_blank" data-bind="attr:{ href: selectedResource() ? selectedResource().reportLink : 'javascript:void(0);'}">
                                        <i class="fa fa-trophy text-primary" data-bind="attr: { class: selectedResource() ? selectedResource().typeIcon + ' text-primary': '' }"></i> 
                                        <span data-bind="text:selectedResource() ? selectedResource().primaryname : ''"></span>

                                        <!-- Resource Type for larger screens -->
                                        <span class="hidden-xs">
                                            <small class="text-primary" data-bind="text: selectedResource() ? selectedResource().typeName: ''"></small>
                                        </span>

                                        <!-- Resource Type for small screens -->
                                        <span class="hidden-sm hidden-md hidden-lg">
                                            </br><small class="text-primary margin-left-30 margin-top-minus-10"  data-bind="text: selectedResource() ? selectedResource().typeName: ''"></small>
                                        </span>

                                    </a>
                                </h4>

                            </div>

                            <!-- Body Content -->
                            <div class="modal-body padding-top-0 padding-bottom-0">
                                <p> 
                                    {% include 'map/resource-popup.htm' %}
                                </p>
                            </div>
                            <!-- End Body Content -->

                            <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px;">
                                <button type="button" class="btn btn-default resource-info-closer">
                                    {% trans 'Close' %}
                                </button>
                                <a href="javascript:void(0);" class="text-primary" target="_blank" data-bind="attr:{ href: selectedResource() ? selectedResource().reportLink : 'javascript:void(0);'}">
                                    <button type="button" class="btn btn-primary">
                                        {% trans 'View Report' %}
                                    </button>
                                </a>
                            </div>
                        </div><!-- /.modal-content -->

                    </div>
                </div>
                
                <div id="cluster-info" class="row" style="display:none;">
                    <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-7 col-md-5 col-md-offset-7 pull-right">
                        <div class="modal-content no-corners arches-map-inventory-panel" style="margin-top: -360px;margin-right: 25px;">
                            <div class="modal-header">
                                <button type="button" class="close cluster-info-closer" aria-hidden="true">
                                    ×
                                </button>

                                <h4 class="modal-title">
                                    {% trans 'Clustered Resources' %}
                                </h4>

                            </div>

                            <!-- Body Content -->
                            <div class="modal-body padding-top-0 padding-bottom-0" data-bind="if: clusterFeatures().length === 0">
                                <div class="loading-cluster-info"></div>
                            </div>

                            <div class="modal-body padding-top-0 padding-bottom-0" data-bind="if: clusterFeatures().length > 0">
                                <div data-bind='foreach: clusterFeatures' style="margin-top:12px;">
                                    <div> 
                                        <a href="javascript:void(0);" data-bind="text: properties.primaryname, attr: {'data-entityid': id}" class='cluster-item-link'></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Body Content -->

                            <div class="modal-footer" style="padding-top: 10px; padding-bottom: 10px;">
                                <button type="button" class="btn btn-default cluster-info-closer">
                                    {% trans 'Close' %}
                                </button>
                            </div>
                        </div><!-- /.modal-content -->

                    </div>
                </div>
            </div>

 
            <!-- Map Footer -->
            <div class="fgi-map-footer arches-map-footer"></div>
                <div class="container map-border">

                    <!-- Tool Buttons -->
                    <div>
                        <!-- Map tools button -->
                        <div class="hidden" style="width: 32px; height: 32px; margin-top: 3px;">
                            <button class="btn-u btn-u-green arches-button" style="width: 32px; height: 32px;" type="button" title="Map Tools"><i class="fa fa-2x fa-info-circle" style="  font-size: 21px; margin-top: -1px; margin-left: -7px;"></i></button>
                        </div>

                        <!-- Time Control button -->
                        <div class="hidden" style="width: 32px; height: 32px; margin-top: 3px;">
                            <button class="btn-u btn-u-default" style="width: 32px; height: 32px;" type="button" title="Time Controls"><i class="fa fa-2x fa-clock-o" style="  font-size: 21px; margin-top: -1px; margin-left: -6px;"></i></button>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 25px;">

                        <div class="col-xs-12" style="margin-bottom: -14px;">

                            <div class="" style="margin-top: 25px; margin-left: -5px; margin-top: -70px;">
                                <!-- Basemap -->
                                <div class="" style="">

                                    <button id="inventory-basemaps" class="btn btn-primary arches-button" style="width: 67px; height: 67px;" type="button" title="Select Basemap"><i class="fa fa-globe fa-2x" style="margin-top: 0px; margin-left: 0px;"></i></button>

                                </div>
                                <!-- End Basemap -->

                                <!-- Overlay -->
                                <div class="" style="margin-left: 70px; margin-top: -67px;">

                                    <button id="show-overlays" class="btn btn-primary arches-button" style="width: 67px; height: 67px;" type="button" title="Add Overlays"><i class="fa fa-align-justify fa-2x" style="margin-top: 0px; margin-left: 0px;"></i></button>

                                </div>
                                <!-- End Overlay -->

                                <!-- Zoom Readout -->
                                <div class="info-blocks" style="margin-left: 150px; margin-top: -55px;">
                                    <div class="info-blocks-in margin-bottom-0">
                                        <p class="margin-top-5">
                                            <span class="arches-map-inventory-footer-text">
                                                Map Zoom: <span data-bind="text:mapZoom">10</span> &nbsp; &nbsp;
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <!-- Coordinate Readout -->
                                <div class="info-blocks" style="margin-left: 150px; margin-top: -38px;">
                                    <div class="info-blocks-in margin-bottom-0">
                                        <p class="margin-top-5">
                                            <span class="arches-map-inventory-footer-text">
                                                Cursor: <span data-bind="text:mousePosition"></span> <span class="hidden-xs">(long,lat)</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Map Footer -->

        </div>
        
    </div>
</div>

<!-- End Basic Map -->
